.about {
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: space-around;
}

.about-text {
	margin-left: 50px;
}

.about-text > h1 {
	font-size: 2.5rem;
	margin-bottom: 40px;
}

.about-text > p {
	line-height: 35px;
}

.about-gallery {
	display: flex;
}

.about-img {
	margin: 0 5px;

	height: 350px;

	border-radius: 10px;
}
