.pricing {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pricing > h1 {
	margin-top: 80px;
	font-size: 2.8rem;
}

.pricing-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pricing-section {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 15px;
	padding-left: 25px;
	margin: 20px;
}

.pricing-section > h2 {
	text-decoration-line: underline;
	text-underline-offset: 3px;
}

.pricing-item {
	width: 410px;
	display: flex;
	flex-direction: column;

	margin-bottom: 25px;
}

.pricing-item-price {
	margin-left: 10px;

	font-weight: 800;
}

.pricing-item-name {
	font-weight: 700;
}

.pricing-item-desc {
	margin-top: 5px;
	color: rgb(180, 180, 180);
}

.pricing-special {
	text-align: center;
	font-weight: 800;

	line-height: 35px;

	border: 1px solid #cbb035;

	color: #cbb035;
}

.pricing-special > h2 {
	text-decoration-line: none;
}
