.navbar {
	position: fixed;

	width: 100%;

	background-color: transparent;
	backdrop-filter: blur(4px);

	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 1.7rem;
	z-index: 1;
}

.nav-logo-text {
	margin: 15px 40px;
}

.nav-links {
	list-style: none;

	display: flex;

	margin-right: 80px;

	font-size: 1.1rem;
}

.nav-link {
	margin: 0 15px;
	color: inherit;
	text-decoration-line: none;
}
