html,
body {
	margin: 0;
	border: 0;

	font-family: 'Manrope', sans-serif;

	color: white;

	background-color: black;

	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
}
